<!-- <div style="float:left">
</div>
<div class="row">
	<div class="span10 offset3">

<%= form_for (@header_detail) do |f| %>
<table>
	<tr>
		<td><%= f.label :logo %></td>
		<td><%= f.file_field :logo_name %></td></tr>

	<tr><td><%= f.label :theme %></td>
		<td><%= f.file_field :uploaded%></td></tr>

	<tr><td><%= f.label :message %></td>
	    <td><%= f.text_field :message %></td>
    <tr><td><%= f.submit  "submit" %></td></tr>
</table>
<% end %>	
</div>
</div>
 -->
 <div id="wrap">
  <%= render 'shared/side_menu' %>
              
            <div id="content" class="span9">
               
                <div class="container-fluid outer"  >
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                           
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
  <header>
                                            <div class="icons"><i class="icon-move"></i></div>
                                            <h5>Header Details </h5>
                                        </header>
                                                                            <div id="collapse4" class="body">
                                           
        <table id="dataTable" class="table table-condensed table-hover">
<%= form_for (@header_detail) do |f| %>
	<tr>
		<td><%= f.label :logo %></td>
		<td><%= f.file_field :logo_name %></td></tr>

	<tr><td><%= f.label :theme %></td>
		<td><%= f.file_field :uploaded%></td></tr>

	<tr><td><%= f.label :message %></td>
	    <td><%= f.text_field :message %></td>
    <tr><td><%= f.submit  "submit" %></td></tr>
<% end %>	</table>
</div>
                                    </div>
                                </div>
                            </div> 

                    </div>
                </div>

            </div>
                

            <div id="push"></div>
 </div>
<div class="clearfix"></div>
