


<div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<div class="row">
	<div class="span10 offset3">
<%= form_for (@slider) do |f| %>
<table>
	<tr>
		<td><%= f.label :image %></td>
		<td><%= image_tag url_for(:controller => 'sliders',:action => 'show_image_slider', :id => @slider.id), :width => "200",:height => "200"%>
		<td><%= f.file_field 'attachment' %></td></tr>

    	<tr><td><%= f.label :backgroundimage %></td>
    		<td><%= image_tag url_for(:controller => 'sliders',:action => 'background_image_slider', :id => @slider.id), :width => "200",:height => "200"%>
		<td><%= f.file_field 'background' %></td></tr>

		<tr><td><%= f.label :header %></td>
		<td><%= f.text_field :header %></td></tr>

		<tr><td><%= f.label :body_tag %></td>
		<td><%= f.text_field :body_tag %></td></tr>

		
        <tr><td><%= f.submit  "update" %></td></tr>
</table>
<% end %>
</div>
</div>