<div id="wrap">
<%= render 'shared/side_menu' %>
 <div id="content">
   <div class="container-fluid outer"  >
     <div class="row-fluid">
       <div class="span12 inner">
         <div class="row-fluid">
           <div class="span12">
             <div class="box">
               <div id="collapse4" class="body">
                 <div class="icons"><span class="badge badge-info">Manage Teaching Staff Details</span></div>
                   <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                     <thead>
                      <tr>
                        <th ></th>
                        
                        <th >Name</th>
                        <th >Email</th>
                        <th >Qualification</th>
                        <th >Description</th>
                        <th >Enable</th>
                        <th >Created At</th>
                        <th style="text-align:center;"><%=t '.actions', :default => t("helpers.actions") %></th>
                     </tr></thead>
                        <% @teachingstaff.each do |teachingstaff| %>
                        <tr><td>
                        <% if teachingstaff.user.image_blob != nil %>
                        <%= image_tag url_for(:controller=>"registrations",:action => 'user_image', :id => teachingstaff.user.id), :size => "30x30" %>
                        <% end  %>
                        </td>
                        
                        <td><%= teachingstaff.name %></td>
                        <td><%= teachingstaff.user.email %></td>
                        <td><%= teachingstaff.qualification %></td>
                        <td><%= teachingstaff.description %></td>
               <%= form_for teachingstaff , :url => url_for(:controller => 'teaching_staffs', :action => 'activate_teaching_staff' ,id: teachingstaff) do |f| %>
                        <td><%= f.check_box :is_active %></td>
                        <td><%=l teachingstaff.created_at, :format=>'%d %b. %Y %I:%M' %></td>
                        <td><%= f.submit "Enable/Update user", class: "btn btn-mini btn-info" %></td>
                        <% end  %>
                        <td> <%= link_to(edit_teaching_staff_path(teachingstaff)) do%><i class="icon icon-edit"></i><% end%></td>
                        <td><%= link_to(teaching_staff_path(teachingstaff),
                                                           :method => :delete,
                                              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) ) do %>
                           <i class="icon icon-trash"></i></td>
                          <% end %>
                </tr>
                <% end %>
                </table>
               </div>
               </div>
              </div>
             </div>
            </div>
           </div>
         </div>
       </div>
      <div class="left" style="padding: 0px;width: 16%;float: right;">
    <a href="teaching_staffs/new" class="btn btn-default btn-large" style="margin:10px;"><i class="icon icon-plus-sign"></i>Add New Teacher</a>
    </div>
  <div id="push"></div>
 <div class="clearfix"></div>
</div>
