
  <div id="home" align="center">
   <%= tinymce_assets %>
    <%= simple_form_for(@teaching_staff,:url => url_for(:controller => 'teaching_staffs',:action => 'teaching_staff_profile')) do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
        <table>
          <div id="information" style="font-size:18px; font-family: monaco; text-align: center; ">
            <%="Since you are Loging IN for the very first time in this application, you  are supposed to enter your full details" %>
          </div>
          <tr>
            <td><%= f.label 'First Name' %> </td>
            <td><%= current_user.name %> </td>

          </tr>
          <tr>
            <td><%= f.label 'Last Name' %></td>
            <td><%= f.text_field :lastname %></td>
          </tr>
          <tr>
            <td><%= f.label 'Head Line' %></td>
            <td><%= f.text_area :headline,:cols => "10", :rows => "5" %></td>
           </tr>
        <tr>
          <td><%= f.label 'Email' %></td>
                <td><%=  current_user.email %></td>
        </tr>
        <br>
        <br>

        <tr>
          <td><%= f.label 'Biography' %></td>
          <td><div id="TinyMCE" ><%= f.text_area :biography,:class => "tinymce",:cols => "6", :rows => "10" %></div></td>
        </tr>
          <br>
          <br>
        <tr>

          <td><%= f.label 'Address' %></td>
          <td><%= f.text_area :address,:cols => "5", :rows => "5" %></td>

        </tr>
        <tr>
          <td><%= f.label 'city' %></td>
          <td> <%= f.text_field :city %></td>
        </tr>
        <tr>
        <tr>
          <td><%= f.label 'Zipcode' %></td>
          <td><%= f.text_field :pincode %></td>
        </tr>
        <tr>
          <td><%= f.label 'Phone Number'%></td>
          <td><%= f.text_field :phone_number, :maxlength => 15  %></td>
        </tr>
          <tr>
            <td>  <%= link_to()%></td>

          </tr>
        <div id="button" align="center">
          <tr>
            <td><%= f.submit "Save and Continue" %> </td>
          </tr>
        </div>
        <%= tinymce %>
        </table>
    <%end%>
 </div>




