
<div class="footer">
  <div class="container">

    <div class="row">
<div class="span12">
          <div class="span4 mission" >
            <p class="headinglike" style="font-size: 20px; font-weight:300;"><%= @domain_root_account.organization %></p>
        <% @footerlinks.each do |footerlink| %>
        <ul class="social">
     <li>
           <a href="<%= footerlink.facebook_url %>" target="_blank" title="Facebook"> <%= image_tag "facebook.png" %> </a>
          </li>

          <li>
            <a href="<%= footerlink.twitter_url %>" target="_blank" title="Twitter"> <%= image_tag "twitter.png" %> </a>
          </li>
          <li>
            <a href="<%= footerlink.youtube_url %>" target="_blank" title="Youtube"> <%= image_tag "youtube.png" %> </a>
          </li>
          <li>
            <a href="<%= footerlink.google_url%>" target="_blank" title="Google Plus"> <%= image_tag "googleplus.png" %> </a>
          </li>
          <li>
            <a href="<%= footerlink.linkedin_url %>" target="_blank" title="LinkedIn"> <%= image_tag "linkedin.png" %> </a>
          </li>
        </ul>

        <p class="copyright">
         <%= footerlink.copy_write %>
        </p>
        <% end %>


          </div>
          <div class="span2" style="width: 15%;">
           <ul class="link-list site-nav right">
          <li class="heading">Our Company </li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms & Conditions ", termscondition_path %></li>
        </ul> 
          </div>
          <div class="span2" style="width: 15%;">
          <ul class="link-list library-nav right">
         <li class="heading">Browse full library</li>
                  <% @domain_root_account.topics.limit(3).each do |topic| %>
                 <li> <%= link_to topic.name, topic_path(topic) %></li>

                  <% end %>
                <%if @domain_root_account.topics.count > 3   %>
                     <div>
                        <%=  link_to "ViewAll ->",courses_path,:style => "margin-left: 23px;font-size: 13px;font-weight: bolder;font-style: italic;" %>
                     </div>
                <%end  %>
           </ul>
          </div>
          <div class="span2" style="width: 15%;">
             <ul class="link-list library-nav right">
        <% @social_stream_comments.each do |social_stream_comment| %>
        
            
             <li> <%= social_stream_comment.twitter_comment_script.html_safe %></li>

             <li><%= social_stream_comment.facebook_comment_script.html_safe %></iframe> </li>
              <% end %> 
                                 
       </ul>
          </div>  
        </div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span12">
          <div class="span8">
            <a href="#">Terms of Service</a>    
            <a href="#">Privacy</a>    
            <a href="#">Security</a>
          </div>
          <div class="span4">
            <p class="muted pull-right">© 2013 Arrivu. All rights reserved</p>
          </div>
        </div>


      
   <!--    <div class="two columns end">
        <ul class="link-list contact-nav right">
          <li class="heading">
            Get in touch →
          </li>
          <li><%= link_to "Write Us", new_contact_path %></li>
          <li><a href="mailto:support@beaconlearning.in">Email Us</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</div>