<div id="wrap">
  <%= render 'shared/side_menu' %>
   <div id="content">
    <div class="container-fluid outer"  >
      <div class="row-fluid">
       <div class="span12 inner">
        <div class="row-fluid">
         <div class="span12">
          <div class="box">
           <div class="icons"><span class="badge badge-info">Module</span></div>
            <div id="collapse4" class="body">
              <table id="dataTable">

               <%= form_for (@course_module) do |f| %>
               <tr>
                 <td>Course Name</td>
                 <% @courses = Course.all %>
                   <td><%= f.collection_select :course_id, @courses, :id, :title, {}, {multiple: false} %></td>
                 </tr>
                                <tr>
                 <td><%= f.label :course_module %></td>
                 <td><%= f.text_field :course_module %></td></tr>
                  <tr><td><%= f.submit  "Add Module", :class=>"btn btn-primary btn-large"%></td></tr> 

                <% end %>	
               </table>
              </div>
             </div>
            </div>
          </div> 
         </div>
      </div>
     </div>
   <div id="push"></div>
 </div>
<div class="clearfix"></div>
