<!-- <div style="float:left">
</div>
<div class="row">
	<div class="span10 offset3">
<table>
<tr>
<td><%= @account_setting.knowledge_partners %></td>
<td><%= @account_setting.media_partners %></td>
<td><%= @account_setting.slide_show %></td>
<td><%= @account_setting.popular_speak %></td>

<td><%= @account_setting.testimonial %></td>

</tr>
</table>
</div>
</div> -->


 <div id="wrap">

  <%= render 'shared/side_menu' %>
              
            <div id="content">
               
                <div class="container-fluid outer" style="background:#fff;">
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                           
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                          <header>
                                            <div class="icons"><i class="icon-move"></i></div>
                                            <h5>Account Settings </h5>
                                        </header>
<div id="collapse4" class="body">
    <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
      <thead>
      <tr class="tab_head">
        <th >Knowledge Partners</th>
        <th >Media Partners</th>
        <th >Slide Show</th>
        <th>Popular Speak</th>
 		<th>Testimonials</th>
      </tr>
    </thead>
    <tbody>
<tr>
<td><%= @account_setting.knowledge_partners %></td>
<td><%= @account_setting.media_partners %></td>
<td><%= @account_setting.slide_show %></td>
<td><%= @account_setting.popular_speak %></td>

<td><%= @account_setting.testimonial %></td>
</tr>


    </tbody>
  </table>
</div>
                                    </div>
                                </div>
                            </div> 

                    </div>
                </div>
            </div>
          </div>
            <!-- END CONTENT -->
  <div class="left" style="padding: 0px;width: 210px;float: right;">
    <a href="accounts/new" class="btn btn-default btn-large" style="margin:10px;"><i class="icon icon-plus-sign"></i>Add New Account</a>
    <a href="courses/new" class="btn btn-default btn-large" style="margin:10px;"><i class="icon icon-book"></i>Add New Course</a>
    </div>


            <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        
        <!-- END WRAP -->

        <div class="clearfix"></div>