<%= form_for(@footerlink) do |f| %>
<table<tr><td><%= f.label :youtube_url %></td><td>
<%= f.text_field :youtube_url %></td></tr>
<tr><td><%= f.label :linkedin_url %></td><td>
<%= f.text_field :linkedin_url %></td></tr>
<tr><td><%= f.label :google_url %></td><td>
<%= f.text_field :google_url %></td></tr>
<tr><td><%= f.label :facebook_url %></td><td>
<%= f.text_field :facebook_url %></td></tr>
<tr><td><%= f.label :twitter_url %></td><td>
<%= f.text_field :twitter_url %></td></tr>
<tr><td><%= f.label :copy_write %></td><td>
<%= f.text_field :copy_write %></td></tr>
<tr><td><%= f.submit "update" %></td></tr></table>
<% end %>
