<% @footerlink.each do |footerlink| %>
 <table width="100%">
    
      <tr><%= footerlink.facebook_url %></tr><br/>
     
     
     
      	 <tr><%= footerlink.google_url %></tr><br/>
  <tr><%= footerlink.linkedin_url %></tr><br/>
   
    <tr><%= footerlink.copy_write %> </tr><br/>
   <tr><%= footerlink.twitter_url %></tr><br/>
   	 <tr><%= footerlink.twitter_url %></tr><br/>
   	<tr><%= link_to "edit",edit_footerlink_path(footerlink) %></tr><br/>
      	<% end %>
      	 </table>