 <table width="100%">
     <tr>
     <%= @footerlink.facebook_url %>
     
      </tr><br/>
     <tr>
      	 <%= @footerlink.google_url %> </tr><br/>
   <tr><%= @footerlink.linkedin_url %></tr><br/>
   <tr><%= @footerlink.copy_write %></tr><br/>
  <tr><%= @footerlink.twitter_url %></tr><br/>
   	 <tr><%= @footerlink.youtube_url %></tr><br/>
   	</tr></table>