 <table width="100%">
     <tr>	<td width="20%"><%= @footerlink.privacy_policy_url %></td>
      <td  width="20%"><%= @footerlink.aboutus_url %></td>

      <td  width="20%"><%= @footerlink.contactus_url %></td>
      <td  width="20%"><%= @footerlink.facebook_url %></td>
     
      </tr>
      </table>
      <table width="100%">
      	 <td  width="20%"><%= @footerlink.google_url %> </td>
   <td  width="20%"><%= @footerlink.linkedin_url %><td>
   
      <td  width="20%"><%= @footerlink.terms_condition_url %> </td>
   <td  width="20%"><%= @footerlink.twitter_url %><td>
   	 <td  width="20%"><%= @footerlink.youtube_url %><td>
   	</tr></table>