 <div class="multicol-column" style="width: auto;">
  
    <% @comments.each do |comment| %>

      <% if comment.is_active? %>

  <div class="featured-review clickable" data-reviewid="gp:AOqpTOHk10gYOpEiGszfJDn-uKb--cDKKdND_zhPPKt7fNgXMnzRHfbPMkvyzn9ECSUXLDX6U3ORwXqNU1LwB7M" data-expand-to="my-review" >
  <div class="author"> <a class="no-nav g-hovercard" > 
        <% if comment.user.omni_image_url == nil %>
        <%= gravatar_for_with_size comment.user, "50x50" %>               
        <% else  %>
 <%= image_tag(comment.user.omni_image_url,size: "50x50", alt: "", :class=>"img-circle")%>
 <% end  %>
     </a>
         <br>
         <a class="no-nav g-hovercard">reviewed-<%= distance_of_time_in_words(comment.created_at,Time.now)%> ago  </a>  <br>   <div class="featured-review-star-rating">  
               <div class="tiny-star star-rating-non-editable-container">
                <%= rating_for_user @course,comment.user, "rate"  %></div> 
</div>  </div> <div> 
<span class="author-name"> 
<%= comment.user.name  %> 
</span>
</div> 
 <div class="quoted-review" style="margin: 60px -68px 0px;"> 
   <div class="review-text"> <span class="review-title">
    <%= comment.title  %></span> 
    <%= comment.comment  %></div>          
 <div class="paragraph-end details-light"></div> 
</div> 
</div>
<%end%> 
<%end%></div> 
<div class="clearfix"></div>
</div>
</div>
</div>
