<%= form_for (@social_stream_comments) do |f| %>
<table><tr><td><%= f.label :facebook_comment_script %></td><td>
<%= f.text_area :facebook_comment_script %></td></tr>
<tr><td><%= f.label :twitter_comment_script %></td><td>
<%= f.text_area :twitter_comment_script%></td></tr>
<tr><td></td><td><%= f.submit "save" %></td></tr></table>
<% end %>
