  <div class="row evenflow">
<div class="resource-row">
<div style="margin: 0px auto;min-width: 400px;max-width: 100%;">        
<% @courses.each do |course|%>
<% module_count =lms_get_modules(course).count %>
<div class="span3 content-box resource" style="float: left;">
<div class="type-tag-positioner" style="background-image: url('<%= url_for(:controller=>"courses", :action => 'background_image', :id => course.id) %>');background-size: 100% 96%;">
<% if course.data!=nil %>
<%= image_tag url_for(:controller => 'courses',:action => 'show_image', :id => course.id), width: "80", height: "80",:class=>"course-badge img-circle", :style=>"padding:5px;" %>
<% else %>
<%= image_tag "test.png", width: "80", height: "80",:class=>"course-badge img-circle", :style=>"border: 0px solid #ffda55;" %>
<% end %>
 <div class="type ribbon1" <%= course.topic.color.nil? ? "style=background-color:darkblue" : "style=background-color:#{course.topic.color}" unless course.topic.nil? %>><span class="prefix"> <%=course.topic.name.split(' ').map(&:capitalize).join(' ') if !course.topic.nil? %></span></div>
</div>
<div class="details">
<h2>
<%=link_to(course) do %><%= course.title.split(' ').map(&:capitalize).join(' ') %><%end%>
</h2>
<ul style="border-top:0px;">
<li class="length time">
<table>
  <tr>
  <td>
  <i class="icon-book" rel="tooltip" title="<%="Course has " +"#{pluralize(module_count,"Module")}"%> "></i></td>
    <td style="verticle-align:bottom;"><%=module_count%>
  </td>
  </tr>
  </table>
  </li>
  <li class="users">
  <table>
  <tr>
  <td>
  <i class="icon-user" rel="tooltip" title="<%="#{pluralize(course.students.count,"user")+
          " Enrolled on this course " }"%>" ></i></td><td style="verticle-align:bottom;"> <%= course.students.count%>
  </td>
  </tr>
  </table>
  </li>
  <li class="tags">
    <table>
      <tr>
        <td>
          <i class="icon icon-tag" rel="tooltip" title="<%="Course has " "#{pluralize(course.tags.count,"Tag")}"%> ">
  </li></td><td style="verticle-align:bottom;"><%= course.tags.count%></i>
          </tr></table></li>
  </ul>
  

 <div class="tag" style="padding:0px 10px;"><ul class="tags" style="border:0px;">
  <% course.tags.each do |tag| %> 
      <li><a href=<%=tagged_courses_path(tag: tag)%> >
       <b> <%= tag.name%> </b>
       <span><%= tag.courses.count%></span></a></li>
     <%end  %>
    </ul>
    
   </div>


  <p class="desc">
  <%= course.short_desc  %>
  </p>

  <ul class="author" style="text-align: center;border-bottom:0px;">
  <% course.teaching_staffs.active.each do |author|%>
  <li>
  <% if author.user.image_blob == nil %>
  <% if author.user.omni_image_url == nil %>
  <%= gravatar_for_with_size author.user, "25x20"%>
   <br>
  <%= author.user.name %>
  <% else  %>
  <%= image_tag(author.omni_image_url,size: "25x20", alt: "",:class=>"img-circle", :style=>"border:3px solid #E7E372")%>
 <br>
  <%= author.user.name %>
  <% end  %>
  <% else  %>
  <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => author.user.id), :size => "20x15",:class=>"img-circle", :style=>"border:1px solid #ffda55;margin-top:-5px;" %>
   <br>
  <%= author.user.name %>
  <% end  %>
 
  </li>
  <% end %>
  </ul>
  </div>
  </div>
  <%end%>
  </div>
  </div>
  </div>    
 

 <script type="text/javascript">
  $('i').tooltip()
  </script>
  <style type="text/css">
  </style> 
