<% unless current_user.has_role? :teacher %>
<div id="left">
 <ul id="menu" class="unstyled accordion collapse in">  
    <li class="accordion-group"> 
      
      <a data-parent="#menu"  data-toggle="collapse"  data-target="#user" ><i class="icon icon-user" style="paddign:0px 10px;"></i>Users</a>
    <ul class="collapse " id="user">
      <li ><%= link_to "Users", users_path, :rel=>"tooltip", :title=>" Staff" %></li> 
      <li data-placement="right"><%= link_to "Interested Users", interested_users_path , :rel=>"tooltip", :title=>"Click Here!...  view the Interested users" %></li>
      <li ><%= link_to "Manage Teaching Staff",teaching_staffs_path, :rel=>"tooltip", :title=>"Click Here!... view the Manage Teaching Staff" %></li></ul></li>
    <% if !current_user.has_role? :account_admin %>                        
      <li ><%= link_to(accounts_path)   do %><i class="icon icon-briefcase " style="paddign:0px 10px;"></i>Accounts<% end %></li>
    <% end %>
     <li class="accordion-group "><%= link_to(update_settings_path) do %><i class="icon icon-move " style="paddign:0px 10px;"></i>Settings<% end %></li>
     <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#form-nav"><i class="icon icon-book" style="paddign:0px 10px;"></i>Course Library</a>
    <ul class="collapse " id="form-nav">
      <li><%= link_to "Category", topics_path %></li>  
          <li><%= link_to "Course Library", manage_courses_path,:rel=>"tooltip",:title=>"Click Here!... view the Manage Course Library" %></li>
          <li><%= link_to "Course Price",course_pricings_path ,:rel=>"tooltip",:title=>"Click Here!... view the Manage Course Pricing" %></li>  
          <li><%= link_to "Course Preview",course_previews_path ,:rel=>"tooltip",:title=>"Click Here!... view the Manage Preview" %></li> 
          <li><%= link_to "Conclude Course", conclude_course_path,:rel=>"tooltip",:title=>"Click Here!... view the Conclude Courses" %></li>
          <li><%= link_to "Course Status Search",course_status_search_path,:rel=>"tooltip",:title=>"Click Here!... view the Manage Course Status" %></li>  
    </ul>
    </li>
    <% if !current_user.has_role? :account_admin %>
      <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#theme"><i class="icon icon-eye-open" style="paddign:0px 10px;"></i>Themes  </a>
      <ul class="collapse " id="theme">
        <li><%= link_to "Add new Theme",new_theme_path ,:rel=>"tooltip",:title=>"Click Here!... Add the New Themes"%></li>  
        <li><%= link_to "Assign Theme",new_account_theme_path ,:rel=>"tooltip",:title=>"Click Here!... Add New Assign Themes" %></li>
      </ul></li>
    <% end%>
      <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#coupon"><i class="icon icon-barcode" style="paddign:0px 10px;"></i> Coupon</a>
      <ul class="collapse" id="coupon">
      <li><%= link_to "New Coupon", new_coupon_path ,:rel=>"tooltip",:title=>"Click Here!... Add New Coupon" %></li>
      <li><%= link_to "Manage Coupon", coupons_path,:rel=>"tooltip",:title=>"Click Here!... view the Manage Coupon" %></li></ul></li>
      <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#tax"><i class="icon icon-qrcode" style="paddign:0px 10px;"></i>Tax</a>
      <ul class="collapse" id="tax">
        <li><%= link_to "Create Tax", new_tax_rate_path,:rel=>"tooltip",:title=>"Click Here!... Create a Tax" %></li>
        <li><%= link_to "Manage Taxes",tax_rates_path,:rel=>"tooltip",:title=>"Click Here!... view the Manage Taxes" %></li></ul></li>
        <li class="accordion-group ">
         <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#page"><i class="icon icon-file" style="paddign:0px 10px;"></i>Static Pages</a>
        <ul class="collapse " id="page">
         <li><%= link_to "About Us", aboutdetails_path,:rel=>"tooltip",:title=>"Click Here!... view the About Details" %></li>
         <li><%= link_to "Privacy & Policy",privacypolicies_path,:rel=>"tooltip",:title=>"Click Here!... Add the Privacy and Polices" %></li>
         <li><%= link_to "Terms & Conditions",terms_and_conditions_path,:rel=>"tooltip",:title=>"Click Here!... Add the Terms and Conditions" %></li></ul></li>
         <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#home"><i class="icon icon-home" style="paddign:0px 10px;"></i>Home Page Details</a>
        <ul class="collapse " id="home">
        <li><%= link_to "Header", header_details_path,:rel=>"tooltip",:title=>"Click Here!... view the Header Details" %></li>
        <li><%= link_to "Knowledge Partner", partners_path,:rel=>"tooltip",:title=>"Click Here!... Add and view the Knowledge Partner" %></li>
        <li><%= link_to "Testimonial", testimonials_path,:rel=>"tooltip",:title=>"Click Here!... Add and view the New Testimonial" %></li>
        <li><%= link_to "Slider", sliders_path,:rel=>"tooltip",:title=>"Click Here!... Add and view the New Sliders" %></li>
        <li><%= link_to "Social Stream Comments", social_stream_comments_path,:rel=>"tooltip",:title=>"Click Here!... Add and view the Social Stream Comments" %></li>
        <li><%= link_to "Footer Links", footerlinks_path,:rel=>"tooltip",:title=>"Click Here!... Add and view the Footer Links " %></li>
      </ul>
    </li>                 
  </ul>              

 </div>
<% else %>
<div id="left">
<ul  id="menu" class="unstyled accordion collapse in">
  
  <li> <a href="<%=manage_courses_path%>" rel="tooltip" title="Add the Manage Courses"><i class="icon icon-th"></i>Manage Course</a></li>

  <li><a href="<%=course_pricings_path%>" rel="tooltip" title="Add the Course Prices"><i class="icon icon-shopping-cart"></i>Course Price</a></li>

  <li><a href= "<%=course_previews_path%>" rel="tooltip" title="Add the Course Previews"><i class="icon icon-eye-open"></i>Course Preview</a></li>

  <li><a href="<%=conclude_course_path%>" rel="tooltip" title="Add the Conclude Courses"><i class="icon icon-screenshot"></i>Conclude Course </a></li>

  <li><a href="<%= course_status_search_path%>"rel="tooltip" title="Add the Course status"><i class="icon icon-search"></i>Course Status Search</a></li>

  <li><a href="<%= new_coupon_path %>" rel="tooltip" title="Add the New Coupons"><i class="icon icon-barcode"></i>New Coupon </a></li>




  <li><%= link_to(teaching_staff_profile_path) do %><i class="icon-briefcase"></i>Teaching Staff Profile</li>

  <li><a href="<%= coupons_path%>"rel="tooltip" title="Add the Manage Coupons"><i class="icon icon-tasks"></i>Manage Coupon</a></li>


  <li><a href="<%=teaching_staff_profile_path %>"rel="tooltip" title="Add the Teaching Staff Profile"><i class="icon-briefcase"></i>Teaching Staff Profile</a></li>

 </ul>
</div>
 <% end %>
<script type="text/javascript"> $('[rel=popover]').popover({trigger:'hover'})</script>
