<script type="text/javascript">

  //  $(function(){
  //   var url = window.location.href; 

  //   $("#side_menu a").each(function() {
  //           if(url == (this.href)) { 
  //           	$(this).closest("a").addClass("active");
  //           }
  //         });
  // });
   </script>

  <!--  <div>
   	<ul id="side_menu">
   		<li><%= link_to "Users", users_path %></li>   		 		
   		<li><%= link_to "New Course Library", new_course_path %></li>
   		<li><%= link_to "Manage Course Library", manage_courses_path %></li>
   		<li><%= link_to "New Category",new_topic_path %> </li>
   		<li><%= link_to "Manage Category", topics_path %></li>  		
   		<li><%= link_to "New Preview",new_course_preview_path %></li>
   		<li><%= link_to "Manage Preview",course_previews_path %></li>
      <li><%= link_to "New Coupon", new_coupon_path %></li>
   		<li><%= link_to "Manage Coupon", coupons_path %></li>
      <li><%= link_to "New Course Price",new_course_pricing_path %></li>   		
   	  <li><%= link_to "Manage Course Price",course_pricings_path %></li>
   		<li><%= link_to "Create Tax", new_tax_rate_path %></li>
      <li><%= link_to "Manage Taxes",tax_rates_path %></li>
      <li><%= link_to "New Teacher", new_teaching_staff_path %></li>
      <li><%= link_to "Manage Teaching Staff",teaching_staffs_path %></li>   
      <li><%= link_to "Course Status Search",course_status_search_path %></li>  
      <li><%= link_to "Conclude Course", conclude_course_path %></li>
      <li><%= link_to "Interested Users", interested_users_path %></li>
      <li><%= link_to "Create Account", new_account_path %></li>
      <li><%= link_to "Account Settings", new_account_setting_path %></li>
      <li><%= link_to "Header Detail", new_header_detail_path %></li>
      <li><%= link_to "Partner", new_partner_path %></li>
      <li><%= link_to "Testimonial", new_testimonial_path %></li>
      <li><%= link_to "Slider", new_slider_path %></li>
      <li><%= link_to "Social Stream Comments", new_social_stream_comment_path %></li>
      <li><%= link_to "About Details", new_aboutdetail_path %></li>
      <li><%= link_to "Footer Links", new_footerlink_path %></li>



   	</ul>   	
   </div> -->

     <div id="left">
<ul id="menu" class="unstyled accordion collapse in">
                              <li class="accordion-group ">   <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#user">
                             <i class="icon icon-user" style="paddign:0px 10px;"></i>Users
                        </a>
                         <ul class="collapse " id="user">
                          <li><%= link_to "Theme", new_theme_path %></li>
                         </ul>
                        <ul class="collapse " id="user">
                           <li><%= link_to "Users", users_path %></li> 
                         <li><%= link_to "Interested Users", interested_users_path %></li>
                         <li><%= link_to "Manage Teaching Staff",teaching_staffs_path %></li>

                        </ul></li>
                        <li class="accordion-group "><%= link_to(accounts_path) do %><i class="icon icon-briefcase " style="paddign:0px 10px;"></i>Accounts<% end %>

                        </li>
                    <li class="accordion-group ">
                        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#form-nav">
                             <i class="icon icon-book" style="paddign:0px 10px;"></i>Course Library 
                        </a>
                        <ul class="collapse " id="form-nav">
                          <li><%= link_to "Category", topics_path %></li>  
                          <li><%= link_to "Course Library", manage_courses_path %></li>
                          <li><%= link_to "Course Price",course_pricings_path %></li>  
                          <li><%= link_to "Course Preview",course_previews_path %></li> 
                          <li><%= link_to "Conclude Course", conclude_course_path %></li>
                          <li><%= link_to "Course Status Search",course_status_search_path %></li>  
                        </ul>
                    </li>
                        
                    <li class="accordion-group ">
                        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#coupon">
                           <i class="icon icon-barcode" style="paddign:0px 10px;"></i> Coupon
                        </a>
                        <ul class="collapse" id="coupon">
                          <li><%= link_to "New Coupon", new_coupon_path %></li>
      <li><%= link_to "Manage Coupon", coupons_path %></li>  
                        </ul>
                    </li>
        <li class="accordion-group ">
                        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#tax">
         <i class="icon icon-qrcode" style="paddign:0px 10px;"></i>Tax
                        </a>
                        <ul class="collapse" id="tax">
                           <li><%= link_to "Create Tax", new_tax_rate_path %></li>
      <li><%= link_to "Manage Taxes",tax_rates_path %></li>  
                        </ul>
                    </li>
                   <li class="accordion-group ">
                        <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#page">
                             <i class="icon icon-file" style="paddign:0px 10px;"></i>Static Pages
                        </a>
                        <ul class="collapse " id="page">
         

                           <li><%= link_to "About Us", aboutdetails_path %></li>
                           <li><%= link_to "Privacy & Policy",privacypolicies_path %></li>
                          <li><%= link_to "Terms & Conditions",terms_and_conditions_path %></li>
                         </ul>
                    </li>
<li class="accordion-group ">
<a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#home">
                             <i class="icon icon-file" style="paddign:0px 10px;"></i>Home Page Details
                        </a>
                        <ul class="collapse " id="home">
                          <li><%= link_to "Header", header_details_path %></li>
      <li><%= link_to "Knowledge Partner", partners_path %></li>
      <li><%= link_to "Testimonial", testimonials_path %></li>
      <li><%= link_to "Slider", sliders_path %></li>
      <li><%= link_to "Social Stream Comments", social_stream_comments_path %></li>
      <li><%= link_to "Footer Links", footerlinks_path %></li>

                         </ul>
                    </li>
                    
                </ul>
                <!-- END MAIN NAVIGATION -->
              </div>