<% unless current_user.has_role? :teacher %>

<div class="left span2">
 <ul id="menu" class="unstyled accordion collapse in"  >
    <li class="accordion-group"> 
      
      <a data-parent="#menu"  data-toggle="collapse"  data-target="#user" ><i class="icon icon-user" style="paddign:0px 10px;"></i>Users</a>
    <ul class="collapse " id="user">
      <li ><%= link_to "Users", users_path, :rel=>"tooltip", :title=>" Staff" %></li> 
      <li data-placement="right"><%= link_to "Interested Users", interested_users_path , :rel=>"tooltip", :title=>"View who are all interested in your courses" %></li>
      <li ><%= link_to "Manage Teaching Staff",teaching_staffs_path, :rel=>"tooltip", :title=>"Manage Teaching Staffs" %></li></ul></li>
    <% if !current_user.has_role? :account_admin %>  

                          
      <li ><%= link_to(accounts_path)   do %><i class="icon icon-briefcase " style="paddign:0px 10px;"></i>Accounts<% end %></li>
    <% end %>


     <li class="accordion-group "><%= link_to(update_settings_path) do %><i class="icon icon-move " style="paddign:0px 10px;"></i>Settings<% end %></li>
     <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#form-nav"><i class="icon icon-book" style="paddign:0px 10px;"></i>Course Library</a>
    <ul class="collapse " id="form-nav">
      <li><%= link_to "Category", topics_path %></li>  
          <li><%= link_to "Course Library", manage_courses_path,:rel=>"tooltip",:title=>"Manage all courses" %></li>
          <li><%= link_to "Course Price",course_pricings_path ,:rel=>"tooltip",:title=>"To assign course Prices" %></li>
          <li><%= link_to "Course Preview",course_previews_path ,:rel=>"tooltip",:title=>"Assign previews to the courses,which will displayed in the course detail page " %></li>
          <li><%= link_to "Conclude Course", conclude_course_path,:rel=>"tooltip",:title=>"To view concluded courses" %></li>
          <li><%= link_to "Course Status Search",course_status_search_path,:rel=>"tooltip",:title=>"See courses statuses" %></li>
    </ul>
    </li>
    <% if !current_user.has_role? :account_admin %>
      <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#theme"><i class="icon icon-eye-open" style="paddign:0px 10px;"></i>Themes  </a>
      <ul class="collapse " id="theme">
        <li><%= link_to "Add Theme",new_theme_path ,:rel=>"tooltip",:title=>" Create new theme"%></li>
        <li><%= link_to "Assign Theme",new_account_theme_path ,:rel=>"tooltip",:title=>"Change theme for an organization" %></li>
      </ul></li>
    <% end%>
      <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#coupon"><i class="icon icon-barcode" style="paddign:0px 10px;"></i> Coupon</a>
      <ul class="collapse" id="coupon">
      <li><%= link_to "New Coupon", new_coupon_path ,:rel=>"tooltip",:title=>"Create course discount coupons" %></li>
      <li><%= link_to "Manage Coupon", coupons_path,:rel=>"tooltip",:title=>"Mange course coupons" %></li></ul></li>
      <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#tax"><i class="icon icon-qrcode" style="paddign:0px 10px;"></i>Tax</a>
      <ul class="collapse" id="tax">
        <li><%= link_to "Create Tax", new_tax_rate_path,:rel=>"tooltip",:title=>"Assign tax" %></li>
        <li><%= link_to "Manage Taxes",tax_rates_path,:rel=>"tooltip",:title=>"Manage Taxes" %></li></ul></li>
        <li class="accordion-group ">
         <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#page"><i class="icon icon-file" style="paddign:0px 10px;"></i>Static Pages</a>
        <ul class="collapse " id="page">
         <li><%= link_to "About Us", aboutdetails_path,:rel=>"tooltip",:title=>"Create a about us page,which will populated in the about us page" %></li>
         <li><%= link_to "Privacy & Policy",privacypolicies_path,:rel=>"tooltip",:title=>" Add the Privacy and Polices" %></li>
         <li><%= link_to "Terms & Conditions",terms_and_conditions_path,:rel=>"tooltip",:title=>" Add the Terms and Conditions" %></li></ul></li>
         <li class="accordion-group "><a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#home"><i class="icon icon-home" style="paddign:0px 10px;"></i>Home Page Details</a>
        <ul class="collapse " id="home">
        <li><%= link_to "Header", header_details_path,:rel=>"tooltip",:title=>"Change the default logo and the header color by uploading images" %></li>
        <li><%= link_to "Knowledge Partner", partners_path,:rel=>"tooltip",:title=>" Add Knowledge Partners" %></li>
        <li><%= link_to "Testimonial", testimonials_path,:rel=>"tooltip",:title=>" Manage Testimonial" %></li>
        <li><%= link_to "Slider", sliders_path,:rel=>"tooltip",:title=>"Mange home page sliders" %></li>
        <li><%= link_to "Social Stream Comments", social_stream_comments_path,:rel=>"tooltip",:title=>" Add or view the Social Stream Comments" %></li>
        <li><%= link_to "Footer Links", footerlinks_path,:rel=>"tooltip",:title=>" Add or view the Footer Links " %></li>
      </ul>
    </li>                 
  </ul>              


  
   </div>
<% else %>
<div id="left span2">
<ul  id="menu" class="unstyled accordion collapse in" style="margin-left: 10px;">
  
  <li> <a href="<%=manage_courses_path%>" rel="tooltip" title="Manage your course library "><i class="icon icon-th"></i>Manage Course</a></li>

  <li><a href="<%=course_pricings_path%>" rel="tooltip" title="Set price to the course"><i class="icon icon-shopping-cart"></i>Course Price</a></li>

  <li><a href= "<%=course_previews_path%>" rel="tooltip" title="Add Previews to the courses"><i class="icon icon-eye-open"></i>Course Preview</a></li>

  <li><a href="<%=conclude_course_path%>" rel="tooltip" title="Conclude Courses which are completed"><i class="icon icon-screenshot"></i>Conclude Course </a></li>

  <li><a href="<%= course_status_search_path%>"rel="tooltip" title="Click here to see course status"><i class="icon icon-search"></i>Course Status Search</a></li>


  <li><a href="<%= new_coupon_path %>" rel="tooltip" title="Add the New Coupons"><i class="icon icon-barcode"></i>New Coupon </a></li>

  <li><a href="<%= coupons_path%>"rel="tooltip" title="Add the Manage Coupons"><i class="icon icon-tasks"></i>Manage Coupon</a></li>


  <li><a href="<%=teaching_staff_profile_path %>"rel="tooltip" title="Add the Teaching Staff Profile"><i class="icon-briefcase"></i>Teaching Staff Profile</a></li>

 </ul>
</div>
 <% end %>
<script type="text/javascript"> $('[rel=popover]').popover({trigger:'hover'})</script>
