<!-- <div style="float:left">
</div>
<div class="row">
	<div class="span10 offset3">

<table>

	<tr>
		<% @header_detail.each do |header_details| %>
	<td>
		
	   <%= image_tag("../images/#{header_details.logo_name}", :size=> "70x70") %>
	   <%= image_tag url_for(:controller => 'header_details',:action => 'theme_image_detail', :id => header_details), :size => "50x50" %> 
	</td>
     
    </tr>

    <td>`
		<%= header_details.message %>
	</td>
	<td>
		<%= link_to "show",header_detail_path(header_details) %>
	</td>
 	<td>
 		<%= link_to "edit",edit_header_detail_path(header_details) %>
 	</td> 
 	<td>
 		<%= link_to "destroy",header_details, method: :delete, data: { confirm: 'Are you sure?' } %>
 	</td>
 </tr>
 <%end%>
</table>
</div>
</div> -->

<div id="wrap">

  <%= render 'shared/side_menu' %>
               
            <div id="content">
                <!-- .outer -->
                <div class="container-fluid outer" style="background:#fff;">
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                            <!--Begin Datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-move"></i></div>
                                            <h5>Header Details </h5>
<%= link_to "Add Header Details", "header_details/new", :class=> "btn btn-default btn-large", :style=> "margin:10px;float:right;" %> 
                                        </header>
                                        <div id="collapse4" class="body">
                                            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                                                <thead>
                                                  
      <tr class="tab_head">
        <th >Logo</th>
        <th >Header Background</th>
        <th >Header Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <tr>
		<% @header_detail.each do |header_details| %>
	<td>
		
	   <%= image_tag("../images/#{header_details.logo_name}", :size=> "70x70") %>
	 </td><td>  <%= image_tag url_for(:controller => 'header_details',:action => 'theme_image_detail', :id => header_details), :size => "50x50" %> 
	</td>
     
        <td>`
		<%= header_details.message %>
	</td>
 	<td>
 		<%= link_to "edit",edit_header_detail_path(header_details) %>
 	</td> 
 	<td>
 		<%= link_to "destroy",header_details, method: :delete, data: { confirm: 'Are you sure?' } %>
 	</td>
 </tr>
 <%end%>

    </tbody>
                                            </table>

                                   </div>
                                    </div>
                                </div>
                            </div> 
                                
                            
                        
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div></div>
            <!-- END CONTENT -->
  <!--  <div class="left" style="padding: 20px;">
         <%= link_to "Add New Account", url_for(:controller => "accounts", :action => "new"), :class=> "btn btn-default btn-large", :style=> "margin:10px;" %>
           <%= link_to "Add New Course", url_for(:controller => "courses", :action => "new"), :class=> "btn btn-default btn-large", :style=> "margin:10px;" %>
            </div> -->


            <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        
        <!-- END WRAP -->

        <div class="clearfix"></div>