<div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<div class="row">
	<div class="span10 offset3">

<%= form_for (@header_detail) do |f| %>
<table>
	<tr>
		<td><%= f.label :logo %></td>
		<td><%= f.file_field :logo_name %></td></tr>

	<tr><td><%= f.label :theme %></td>
		<td><%= f.file_field :uploaded%></td></tr>

	<tr><td><%= f.label :message %></td>
	    <td><%= f.text_field :message %></td>
    <tr><td><%= f.submit  "submit" %></td></tr>
</table>
<% end %>	
</div>
</div>
