<div class='container'>
<div class="row span12" align="justify">
            <div class="span4 offset1">
            <div class="movedown ">
              <h4><i class="icon-briefcase"></i> Contact Us</h4>
              <p><strong>Email: </strong> <a href='mailto:info@beaconlearning.in'><u>info@beaconlearning.in</u></a></p>
              <p>www.beaconlearning.in</p>
            </div>
   </div>

          <div class="span6">
              <div class="contactform">          
                <h4><i class="icon-pencil"></i> We love to hear from you</h4>
             <%= form_for @contact do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<table>
				<tr>
					<td><%= f.label :name, "Name" %></td>
					<td><%= f.text_field :name %></td>
				</tr>	
				<tr>
					<td><%= f.label :email, "Email" %></td>
					<td><%= f.text_field :email %></td>
				</tr>	
				<tr>
					<td><%= f.label :message, "Message" %></td>
					<td><%= f.text_area :message ,:cols => "30", :rows => "5" %></td>
				</tr>	
				<tr >
					<td></td><td align = "center"><%= f.submit "Send", class: "btn btn-primary" %></td>
				</tr>
				</table>	
				<% end %>
              </div>
          </div>  
  </div>
</div>
