
<div id="wrap">

  <%= render 'shared/side_menu' %>
               
            <div id="content" class="span9">
                <!-- .outer -->
                <div class="container-fluid outer"  >
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                            <!--Begin Datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                             
                                        <div id="collapse4" class="body">
                                                <div class="icons"><span class="badge badge-info">New Preview</span></div>

                                            <table id="dataTable">
                                                <thead>
                        <%= form_for @preview do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <tr><td><%= f.label :course_id, "Courses" %></td>
                         <td><%= select_tag :id, options_from_collection_for_select(@courses, "id", "title") %></td></tr>
                            <tr><td><%= f.label :name, "Title" %></td>
                                <td><%= f.text_field :name,:maxlength => 50 %></td></tr>
                                <tr><td><%= f.label :desc, "Description" %></td>
                                    <td><%= f.text_area :desc ,:cols => "30", :rows => "5",:maxlength => 100 %></td></tr>
                                    <tr><td><%= f.label :video_url, "Video URL" %></td>
                                        <td><%= f.text_area :video_url ,:cols => "30", :rows => "3" %></td></tr>                                        
                                        <tr><td><%= f.label :sequence, "Display Order" %></td>
                                            <td><%= f.text_field :sequence ,:size => '2' %></td></tr>
                                            <tr><td><%= f.label :enable, "Show This Preview" %></td>
                                                <td><%= f.check_box :enable ,:checked => true%></td></tr>
                                                <tr><td></td><td><%= f.submit "Update Preview", class: "btn btn-large btn-primary" %></td></tr>
                                              <% end %>
                                            </table>
                                            
        </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
              </div>

 <div id="push"></div>
</div>
<div class="clearfix"></div>
 
