
					<div id="wrap">

  <%= render 'shared/side_menu' %>
               
            <div id="content">
                <!-- .outer -->
                <div class="container-fluid outer"  >
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                            <!--Begin Datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                          
                                        <div id="collapse4" class="body">
                                            <div class="icons"><span class="badge badge-info">Course Price</span></div>
                                        	<%= simple_form_for (@coursepricing) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
                                            <table id="dataTable" class="table ">


  <tr><td>Course Name</td><td><% courses_array = Course.where(:account_id=>@account_id).map { |course| [course.title, course.id] } %>
					<%= f.select(:course_id,options_for_select(courses_array))%></td></tr>
	<tr><td>Start Date</td><td>

						<%= f.input_field :start_date, :start_year => Date.today.year, :end_year => Date.today.year + 30, :order => [ :day, :month, :year], class:"date", :required => true %>
					</td></tr>
					<tr><td>End Date</td><td>
						<%= f.input_field :end_date, :start_year => Date.today.year, :end_year => Date.today.year + 30, :order => [ :day, :month, :year], class:"date" %></td></tr>
						<tr><td>Price</td><td>
							<%= f.text_field :price %></td></tr>
							<tr><td></td><td><%= f.submit "Save" ,class: "btn btn-primary " %></td></tr>


                        </table>


							<% end %>

<!-- <div class="row-fluid"><div class="span6"><div class="dataTables_filter" id="dataTable_filter"><label>Search: <input type="text" aria-controls="dataTable"></label></div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div>  -->                                       </div>
                                    </div>
                                </div>
                            </div> 
                                
                            
                        
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div>
            <!-- END CONTENT -->


            <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        </div>
        <!-- END WRAP -->

        <div class="clearfix"></div>