 <div id="wrap">
<script language="javascript" type="text/javascript">
tinyMCE.init({
        theme : "advanced",
        mode : "textareas"
});
</script>
  <%= render 'shared/side_menu' %>
              
            <div id="content">
               
                <div class="container-fluid outer"  >
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                           
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
  
                                                                            <div id="collapse4" class="body">
                                            <div class="icons"><span class="badge badge-info">New Terms and Conditions</span></div> 
        <table id="dataTable" >
<%= tinymce_assets %>
<%= form_for @terms_and_condition do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <tr>
    <td><%= f.label 'Title' %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
  <td><%=f.label 'Description'%></td>
  <td><%=f.text_area :desc,:class => "tinymce"%></td>
</tr>
<tr>
   <td><%= f.submit "Save" %> </td>
</tr>
<%= tinymce %>
<% end %></table>
</div>
                                    </div>
                                </div>
                            </div> 

                    </div>
                </div>

            </div>
                

            <div id="push"></div>
 </div>
<div class="clearfix"></div>
