
<h3 align = "center">About Details</h3>
<table align="center">

<%= form_for @aboutdetail do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<tr>
	<td><%=f.label 'Title'%></td>
	<td><%=f.text_field :title%></td>
</tr>

<tr>
	<td><%=f.label 'Description'%></td>
	<td><%=f.text_area :desc%></td>
</tr>
<tr >
   <td><%= f.submit "Update" %> </td>
</tr>

<% end %>
</table>
