<!-- 

<h3 align = "center">Knowledge Partners</h3>
<table align="center">
<%= form_for @partner do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<tr>
	<td><%=f.label 'Company Name'%></td>
	<td><%=f.text_field :company_name%></td>
</tr>

<tr>
	<td><%=f.label 'Logo' %></td>
	<td><%= image_tag url_for(:controller => 'partners',:action => 'show', :id => @partner.id), :width => "100",:height => "100"%>
	<%= f.file_field :uploaded_file %></td> 
</tr>
<tr>
	<td><%=f.label 'Comments'%></td>
	<td><%=f.text_area :comments%></td>
</tr>
<tr >
   <td><%= f.submit "Update" %> </td>
</tr>

<% end %>
</table> -->


<div id="wrap">

  <%= render 'shared/side_menu' %>
               
            <div id="content">
                <!-- .outer -->
                <div class="container-fluid outer" style="background:#fff;">
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                            <!--Begin Datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                                       <header>
                                            <div class="icons"><i class="icon-move"></i></div>
                                            <h5>Edit Knowledge Partner</h5>
                                        </header>
                                        <div id="collapse4" class="body">
                            <table id="dataTable" class="table  table-condensed table-hover ">
<%= form_for @partner do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<tr>
	<td><%=f.label 'Company Name'%></td>
	<td><%=f.text_field :company_name%></td>
</tr>

<tr>
	<td><%=f.label 'Logo' %></td>
	<td><%= image_tag url_for(:controller => 'partners',:action => 'show', :id => @partner.id), :width => "100",:height => "100"%>
	<%= f.file_field :uploaded_file %></td> 
</tr>
<tr>
	<td><%=f.label 'Comments'%></td>
	<td><%=f.text_area :comments%></td>
</tr>
<tr >
   <td><%= f.submit "Update" %> </td>
</tr>

<% end %>
                                            </table>

<!-- <div class="row-fluid"><div class="span6"><div class="dataTables_filter" id="dataTable_filter"><label>Search: <input type="text" aria-controls="dataTable"></label></div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div>  -->                                       </div>
                                    </div>
                                </div>
                            </div> 
                                
                            
                        
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div></div>
            <!-- END CONTENT -->
           <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        
        <!-- END WRAP -->

        <div class="clearfix"></div>