<% if !@comments.blank?%>
        <% @comments.each do |comment|  %>
   
        <div class="span3" style="margin-bottom:10px;float:left;margin-left: -20px;">
          <div class="reviewer">

        <% if comment.user.image_blob == nil %>
                <% if comment.user.omni_image_url == nil %>
          <%= gravatar_for_with_size comment.user, "48x48" %>               
                 <% else  %>
                <%= image_tag(comment.user.omni_image_url,size: "48x48", alt: "", :class=>"img-circle")%> 
                <% end  %>
                <% else  %>
                
                  <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :class=>"img-circle", :id => comment.user.id), :size => "48x48" %>
                <% end  %>
          </div>
          <h6><%= comment.user.name  %> </h6>
            

    <ul>

<li class="review-stars"  >
  <a>
            <%#= link_to image_tag("#{@course.image}", border: 0, width: "100", height: "100")%> 
            <% unless url_for(:only_path => true, :overwrite_params=> { }) == '/courses?'  %>
            <br align = "center">
            <% end %>
            <%= rating_for @course, "rate"  %>

          
            <% unless url_for(:only_path => true, :overwrite_params=> { }) == '/courses?'  %>
           </a>
          
           <% end %>
          </a>
</li>
</ul>

          <div class="bubble-content">
            <div class="point"></div> 
  <p><%= comment.comment  %></p>
          </div>
          <div class="clearfix"></div>
        </div>
     
       <%end%> 

  <%end%>