 <div id="wrap">
   <%= render 'shared/side_menu' %>
   <div id="content">
     <div class="container-fluid outer"  >
       <div class="row-fluid">
         <div class="span12 inner">
           <div class="row-fluid">
             <div class="span12">
               <div class="box">
                 <div id="collapse4" class="body">
                   <%= form_tag "/concluded_course_update", :method=>'put' do %>
                       <div class="divrow">
                         <div class="icons"><span class="badge badge-info"> Conclude Courses</span></div>
                         <div class="divleft">
                           <label>Course Name</label>
                         </div>
                         <div class="divright">
                           <%= select_tag :search, options_from_collection_for_select(@courses, "id", "title") , {:prompt => 'ALL'} %>
                         </div>
                       </div>
                       <div class="divrow">
                         <div class="divleft">
                           <label>Concluded</label>
                         </div>
                         <div class="divright">
                           <%= check_box_tag :isconcluded %>
                         </div>
                       </div>
                       <div class="divrow">
                         <div class="divleft">
                           <label>Concluded Review </label>
                         </div>
                         <div class="divright">
                           <%= text_area_tag :concluded_review %>
                         </div>
                         <%= hidden_field_tag :id %>
                       </div>
                       <div class="divrow">
                         <div class="divleft">
                           &nbsp;
                         </div>
                         <div class="divright">
                           <%= submit_tag "Save",class:"btn btn-primary yellobg",:data => { :confirm => "Are you sure?" } %>
                         </div>
                       </div>
                       <br>
                   <% end %>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div id="push"></div>
   <div class="clearfix"></div>