<!-- <html>
<head>
<script language="javascript" type="text/javascript">
tinyMCE.init({
        theme : "advanced",
        mode : "textareas"
});
</script>
</head>
<h3 align = "center">Privacy Policies</h3>
<table align="center">
<%= tinymce_assets %>
<%= form_for @privacypolicy do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<tr>
	<td><%=f.label 'Title'%></td>
	<td><%=f.text_field :title%></td>
</tr>

<tr>
	<td><%=f.label 'Description'%></td>
	<td><%=f.text_area :desc,:class => "tinymce"%></td>
</tr>
<tr >
   <td><%= f.submit "Update" %> </td>
</tr>
<%= tinymce %>
<% end %>
</table> -->
<div id="wrap">
  <%= render 'shared/side_menu' %>
  <script language="javascript" type="text/javascript">
tinyMCE.init({
        theme : "advanced",
        mode : "textareas"
});
</script>
      <div id="content" class="span9">
                <!-- .outer -->
                <div class="container-fluid outer"  >
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                            <!--Begin Datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-move"></i></div>
                                            <h5>Privacy Policy Details </h5>
                                        </header>
                                        <div id="collapse4" class="body">
                                            <table id="dataTable" class="table table-condensed table-hover">
            
    <tbody>
<%= tinymce_assets %>
<%= form_for @privacypolicy do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<tr>
	<td><%=f.label 'Title'%></td>
	<td><%=f.text_field :title%></td>
</tr>

<tr>
	<td><%=f.label 'Description'%></td>
	<td><%=f.text_area :desc,:class => "tinymce"%></td>
</tr>
<tr >
   <td><%= f.submit "Update" %> </td>
</tr>
<%= tinymce %>
<% end %>
                     </table>

                                   </div>
                                    </div>
                                </div>
                            </div> 
                                
                            
                        
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div></div>
            <!-- END CONTENT -->

            <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        
        <!-- END WRAP -->

        <div class="clearfix"></div>