
<% provide(:title, 'A Smarter Way to Learn') %>
<div style="width:1349px;margin:0px auto;">
<% provide(:effectingHeader) %>
    <div id="slideshow1" class="sliders" style="height: 485px">
          <% if @domain_root_account.settings[:slide_show_enable] %>
              <% @slider.each do |slider| %>

        
           <div style="background-image: url('<%= slider.background_image(:thumb) %>');background-repeat:no-repeat;background-size:100% 100%;color:white; height: 100%; width: 100%;" class="active-slide slide">
                   <div class="span12 offset1" style="background-image: url('assets/banner-content-bg.png');height:300px;margin-top:3%;padding:3% 0px;">
                <% unless slider.content_image.nil?  %>
                 <div class="span4 offset1">
                  <%= image_tag slider.content_image, :style=>"width:55%;height:65%" %> 

                </div>
                   <% end  %>           
                
                <div class="span6">
                  <h3 style="color:white;"><%= slider.header %> </h3>
                  <p><%= slider.body_tag %><p>
                    <%= render 'show_topics' %>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
                     <%end%>
            <% else %>
       
     <div style="background-image: url('class.jpg');background-repeat:no-repeat;background-size:100% 100%;color:white; height: 455px; width: 100%;" class="active-slide slide">
                  <div class="row">
                      <div class="container" style="background-image: url('assets/banner-content-bg.png');padding:25px 0px;margin: 70px 185px;height:300px;">
                          <div class="span12" align="center" >
                              <div class="bannertext">
                                 <h3 style="color:white;margin-left: 50px;"> </h3>
                              </div>
                          </div>
                             <div class="clearfix"></div>
                                <div class="span4" align="center" >

                                </div>
                                   <div class="span5" align="justify">
                                       <%= render 'show_topics' %>
                                   </div>
                                    <div class="clearfix"></div>
                                  </div>
                                 </div>
                            </div>
                <div style="background-image: url('ems-banner.jpg');background-repeat:no-repeat;background-size:100% 100%;color:white; height: 455px; width: 100%;" class="active-slide slide">
                  <div class="row">
                    <div class="container" style="background-image: url('assets/banner-content-bg.png');padding:25px 0px;margin: 70px 185px;height:300px;">
                      <div class="span12" align="center" >
                        <div class="bannertext">
                          <h3 style="color:white;margin-left: 50px;"> </h3>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="span4" align="center" >

                      </div>
                      <div class="span5" align="justify">
                        <%= render 'show_topics' %>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
   
            <%end %>
              </div>
               <% if  @domain_root_account.settings[:popular_course_enable] %>
<div class="homecourse">
    <div class="secondary-content" style="background: #F8F8F5;">
    <div class="container" align="center">
      <div class="row testimonial">
        <!-- <h2 class="ribbon">
          <span class="title">Our Courses</span>
        </h2> -->
        <h2 style="margin-left:-30px;"> Popular Courses</h2>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <!-- <div class="span12" align="center">
          <div class="bannersubtitle">
              Learn where to start and what to take next with our courses
          </div> 
        </div> -->
            
              <%= render 'shared/courselist' %>
            
              <div align="center">
         

                <%= link_to "", courses_path, :class => "browsemore" %>
                <h6 style="color:steelblue;margin:0px;"> Discover More courses</h6>

               
              </div>
      </div>
    </div>
  </div>

<%end%>
 <% if  @domain_root_account.settings[:knowledge_partners_enable] %>
   <div class="row ourcustomers s2">
  <div class="secondary-content " style="background: #F8F8F5;">
    <div class="container" align="center">
      <div class="row testimonial">
 <h2 style="">Knowledge Partners</h2>
     </div>
   </div>
 </div>
<div class="listofkp"  style="background: #fff;position: relative;margin-top: 0px;width: 100%;
padding: 10px 0px;float: left;">
  <div class="span10 offset2" >

  <% @partners.each do |partners| %>
          <div class="span3" style="height:175px;">
              <%= image_tag partners.partner.url, :size=>"200x160" %> 
          </div>
          <%end%>
        </div>
         </div>
 
            <%end%>              

 <% if  @domain_root_account.settings[:testimonial_enable] %>
                <div class="ourcustomers row s3" >
                  <div class="secondary-content" style="background: #F8F8F5;">
                    <div class="container" align="center">
                      <div class="row testimonial">
<h2 style="">Learners Review</h2>
                            </div>
                            </div>
                            </div>
                            <div class="container">
    <div class="row-fluid">
      <ul class="span12 offset1" style="margin-top:40px;margin-bottom:40px;"> 
           <% @testimonial.each do |testimonials| %>
 <li class="span3" >
          <div class="verticalcustomerbox testimonial-one" align="center">
            <!--<div class="customerimage">-->
              <!--<img src="assets/learner.jpg" />-->
            <!--</div>-->
            <div class="testimonialtext">
              "<%=testimonials.comment%>"
            </div>
            <div class="testimonialauthor">
              -<%= testimonials.name %>,<br/><%=testimonials.organization%>
            </div>
          </div>
        </li>
           <%end%>
            </ul>    
            </div>
            </div>                 

                     </div>
                        <% end %>          
                        
 

 
  <div class="bottomadsection">
    <div class="container">
      <div class="row">
        <div class="span12" align="center" style="width: 95%;">
          <h3>Step up Your Learning Curve!</h2>
          
          <%= link_to "Browse Our Courses", courses_path, :class => "browseourcoursessmall" %>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <% unless user_signed_in?%>
          <a href="#sign_up_Modal" role="button" data-toggle="modal" class="browseourcoursessmall">Create Account</a>
          <% end %>
        </div>
       
      </div>
    </div>
  </div>

 </div>