



   <div style="float:left">

  <%= render 'shared/side_menu' %>
</div>
               
            <br>
<div class="row">
  <div class="span6 offset3" style="min-height:530px;">
   <h3 align = "center">Account Themes</h3>

            
<table class="table  table-striped ">
    <thead>
         <tr class="tab_head">
         <th> Name </th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th> 
   </tr>
   </thead>
    <tbody>
<%= form_for (@accountthemes) do |f| %>

<tr>


  
    
    
    <td><% themes_array = Theme.all.map { |theme| [theme.name] } %>

    <%= f.select(:name,options_for_select(themes_array))%> </td>
</tr>

<tr >
   <td><%=f.submit "Save" %> </td>
</tr>
<% end %>
                                            </table>

<!-- <div class="row-fluid"><div class="span6"><div class="dataTables_filter" id="dataTable_filter"><label>Search: <input type="text" aria-controls="dataTable"></label></div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div>  -->                                       </div>
                                    </div>
                                </div>
                            </div> 
                                
                            
                        
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div></div>
            <!-- END CONTENT -->
           <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        
        <!-- END WRAP -->

        <div class="clearfix"></div>

