<div class="row" >
 <div class="span6 offset3">
 <%= simple_form_for(@user,:url => url_for(:controller => 'accounts',:action => 'account_subscription')) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
         <%= f.fields_for @account do |account| %>

             <table align="center">
                <tr>
                  <td>
                    <%= account.label 'Domain Name' %>
                  </td>
                  <td>
                    <div class="input-append">
                      <%= account.text_field :name ,style:"width: 192px;" %>
                        <span class="add-on">.lvh.me</span>
                     </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <%= account.label 'Organization' %>
                  </td>
                   <td>
                       <%=account.text_field :organization %>
                    </td>
                </tr>
         <%end %>
              <tr>
                <td>
                   <%= f.label 'User Name' %>
                </td>
                <td>
                    <%=f.text_field :name %>
                </td>
              </tr>
                <td>
                   <%= f.label 'Email' %>
                </td>
                 <td>
                    <%=f.text_field :email %>
                 </td>
              </tr>
              <tr>
                 <td>
                    <%= f.label 'Password' %>
                 </td>
                 <td>
                     <%=f.password_field :password %>
                 </td>
              </tr>
              <tr>
                <td>
                     <%= f.label 'Confirm Password' %>
                </td>
                 <td>
                     <%=f.password_field :password_confirmation %>
                 </td>
              </tr>
              <tr>
                 <td colspan="2" style="text-align:center; ">
                    <%= f.check_box :terms_of_service,:checked=>false %> I accept
                    <%=link_to "Terms and Service", terms_path %>
                 </td>
              </tr>
              <tr>
                 <td colspan="2" style="text-align:center;">
                     <%= f.submit "Subscribe",class: "btn btn-primary", style:"margin-left: 27px;" %>
                 </td>
              </tr>

      </table>

 <%end  %>
 </div>
 </div>