 <div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<div class="row">
	<div class="span10 offset3">

 <table align="center" > <% @account.each do |account| %>
    <tr><td><%= account.name %></td>
      <td><%= account.organization %></td>
     
      <td><%= account.no_of_courses %></td>
      <td><%= account.no_of_users %> </td>
   <td><%= account.active %><td><td><%= link_to "edit",edit_account_path(account) %></td></tr>
      	<% end %>
</table>
</div>
</div>