<!--  <div style="float:left">
</div>
<div class="row">
	<div class="span10 offset3">

 <table align="center" > <% @account.each do |account| %>
    <tr><td><%= account.name %></td>
      <td><%= account.organization %></td>
     
      <td><%= account.no_of_courses %></td>
      <td><%= account.no_of_users %> </td>
   <td><%= account.active %><td><td><%= link_to "edit",edit_account_path(account) %></td></tr>
      	<% end %>
</table>
</div>
</div> -->

<div id="wrap">

  <%= render 'shared/side_menu' %>
               
            <div id="content">
                <!-- .outer -->
                <div class="container-fluid outer" style="background:#fff;">
                            <div class="row-fluid">
                                                        <div class="span12 inner">
                            <!--Begin Datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
 
                                        <header>
                                            <div class="icons"><i class="icon-move"></i></div>
                                            <h5>Accounts </h5><%= link_to "Account Settings", "account_settings", :class=> "btn btn-default btn-large", :style=> "margin:10px;float:right;" %>
                                        </header>
                                        <div id="collapse4" class="body">
                                            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                                                <thead>
                                                  
      <tr class="tab_head">
        <th >Account Name</th>
        <th >Organization</th>
        <th >Number of courses</th>
        <th>Number of Users</th>
        <th >Active</th>

        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @account.each do |account| %>
    <tr><td><%= account.name %></td>
      <td><%= account.organization %></td>
     
      <td><%= account.no_of_courses %></td>
      <td><%= account.no_of_users %> </td>
   <td><%= account.active %><td><td><%= link_to "edit",edit_account_path(account) %></td></tr>
      	<% end %>
    </tbody>
                                            </table>

<!-- <div class="row-fluid"><div class="span6"><div class="dataTables_filter" id="dataTable_filter"><label>Search: <input type="text" aria-controls="dataTable"></label></div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div>  -->                                       </div>
                                    </div>
                                </div>
                            </div> 
                                
                            
                        
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div></div>
            <!-- END CONTENT -->
  <div class="left" style="padding: 0px;width: 210px;float: right;">
    <a href="accounts/new" class="btn btn-default btn-large" style="margin:10px;"><i class="icon icon-user"></i>Add New Account</a>
    <a href="courses/new" class="btn btn-default btn-large" style="margin:10px;"><i class="icon icon-book"></i>Add New Course</a>
    </div>


            <!-- #push do not remove -->
            <div id="push"></div>
            <!-- /#push -->
        
        <!-- END WRAP -->

        <div class="clearfix"></div>